div#container.container{
    width: 90%;
    max-width: 1080px;
}

div#header{
    height:150px;
    background-image: url(../images/bg_container.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
}

td.logo-box{
    background-image: url(../images/logo.gif);
    background-repeat: no-repeat;
    background-position:right center;
    width: 500px;
}

 
    

.reply-box.moodface input{
    display: none;
}

.reply-box.moodface label{
    display: inline-block;
    padding: 3px 10px 3px 5px;
    border: 1px solid #e5e5e5;
    border-radius: 999px; 
   
}

.reply-box.moodface input:checked+label{
  border: 2px solid #23569d; 
  border-radius: 999px; 
  background-color: #d7e8ff;

}

.reply-box.moodface input:checked+label.feelsoso{
    border: 2px solid #F39100; 
    border-radius: 999px; 
    background-color: #ffe6c5;
  
}

  .reply-box.moodface input:checked+label.feelbad{
    border: 2px solid #B50029; 
    border-radius: 999px; 
    background-color: #ffe7e7;
  
} 

.reply-box.moodface input:checked+label.nofeel{
    border: 2px solid #838990; 
    border-radius: 999px; 
    background-color: #cccccc;
  
} 


  
  .reply-box.moodface label.input-itemname {
      margin-right: 5px;
}
  
  .reply-box.moodface label img{
      margin-right: 5px;
}


@media(max-width:876px){

    div#header{
        height:100px;
    }
      
    }

@media(max-width:768px){
    #main.main{
        padding:0px 20px 20px ;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    div#container.container{
        width: 98%;
    }

    .reply-box.moodface label{
        display: block;
        width: 95%;
        margin: 10px 0px;
        text-align: center;
        padding: 10px 0px 10px 10px;
       
    }

    .reply-box.moodface label img{
    
        float: left;
        }

}

@media(max-width:576px){
    div#header{
        border-top: #23569d 10px solid;
        background-image: url(../images/logo.gif);
        background-repeat: no-repeat;
        background-size: 180px ;
        background-position: center;
        height: 50px;   
    }

    .survey-title{
        text-align: center;
    }

    td.logo-box{
        display: none;
    }
        
}

   


    










  