
.feelingradio input{
    display: none;
}
.feelingradio-btn{
    border: 1px solid #d2d3d2;
    border-radius: 999px;
    text-align: right;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 40px ;
    background-size: 30px 30px;
    background-position:5px 2px;
    cursor: pointer;
}
    
.feelbest{
    background-image: url(./img/very-happy.svg);
}

.feelgood{
    background-image: url(./img/happy.svg);
}

.feelsoso{
    background-image: url(./img/soso.svg);
}
.feelnotgood{
    background-image: url(./img/unhappy.svg);
}
.feelbad{
    background-image: url(./img/bad.svg);
}
.nofeel{
    background-image: url(./img/nofeel.svg);
}
  

.feelingradio input:checked+label.feelingradio-btn{
    border: 1px solid #23569d;
    color: #fff;
    
}

.feelingradio input:checked+label.feelbest{
    background-color: #23569d;
    background-image: url(./img/very-happy-active.svg);

}

.feelingradio input:checked+label.feelgood{
    background-color: #007f7b;
    background-image: url(./img/happy-active.svg);
}

.feelingradio input:checked+label.feelsoso{
    background-color: #ffad42;
    background-image: url(./img/soso-active.svg);
}

.feelingradio input:checked+label.feelnotgood{
    background-color: #ff9889;
    background-image: url(./img/unhappy-active.svg);
}
.feelingradio input:checked+label.feelbad{
    background-color: #B50029;
    background-image: url(./img/bad-active.svg);
}
.feelingradio input:checked+label.nofeel{
    background-color: #afafaf;
    background-image: url(./img/nofeel-active.svg);
}

.feelingradio input:checked+label.nobgcolor{
    border:2px solid #23569d;
   
    background-color: #fff;
}

.feelingradio input:checked+label.feelbest.nobgcolor{
    border:2px solid #23569d;
    color: #23569d;
    background-image: url(./img/very-happy-active-line.svg);
}

.feelingradio input:checked+label.feelgood.nobgcolor{
    border:2px solid #007f7b;
    color: #007f7b;
    background-image: url(./img/happy-active-line.svg);
}

.feelingradio input:checked+label.feelsoso.nobgcolor{
    border:2px solid #00aed4;
    color: #00aed4;
    background-image: url(./img/soso-active-line.svg);
}

.feelingradio input:checked+label.feelnotgood.nobgcolor{
    border:2px solid #F39100;
    color: #f39100;
    background-image: url(./img/unhappy-active-line.svg);
}
.feelingradio input:checked+label.feelbad.nobgcolor{
    border:2px solid #B50029;
    color: #B50029;
    background-image: url(./img/bad-active-line.svg);
}
.feelingradio input:checked+label.nofeel.nobgcolor{
    border:2px solid #40454b;
    color: #45494d;
    background-image: url(./img/nofeel-active-line.svg);
}
 
    
 


@media(max-width: 768px){
    .feelingradio-btn{
        display: block;
        text-align: center;
        padding-top: 7px;
        height: 40px;
        background-size: 35px 35px;
    }

    .feelingradio-btn.nobgcolor{
        background-position:5px 1px;
    }


}
    
